
:root {
  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);
  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Off-white);
  font-family: "Poppins", sans-serif;
}

main {
  width: 45rem;
  height: 35rem;
  background-color: var(--White);
  padding: 2rem;
  border-radius: 18px;
  position: relative;
  border-bottom-right-radius: 10rem;
}

.outputs {
  padding-top: 4rem;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  color: var(--Off-black);
}
span {
  color: var(--Purple);
}


/* MEDIA SCREEN (mobile) */
@media (max-width : 1200px ) {
    #main{
        width: 24rem;
        height: 35;
    }
    #form{
        gap: 1rem;
    }
    #birthday-input{
        width: 6rem;
        height: 4rem;
    }
    #birthday-input::placeholder{
      font-size: 18px;
    }
    .submit{
        left: -211px;
    }
    .submit::after{
      width: 8rem;
      left: 8rem;
    }
    .submit::before{
      content: "";
      display: block;
      width: 8rem;
      left: 5rem;
      height: 2px;
      position: absolute;
      background: var(--Off-white);
      top: 37px;
    }
    .outputs{
      font-size: 1.8rem;
      margin-top: 5rem;
    }
    .submit-div{
      margin-top: 2rem;
    }
}
